.App {
  text-align: center;
}

:root {
  --page-gradient: linear-gradient(180deg, #9DBF9E 85%, #005157 100%);
  --page-gradient-bottom: #005157;
  --gradient-top-color: #9DBF9E;
  --nav-background: #005157;
  --nav-background-disabled: #00393d;
  --footer-background: #00444a;
  --nav-button-background: rgba(84, 199, 49, 0.3);
  --nav-button-hover-background: rgba(255, 255, 255, 0.3);
  --nav-button-active-background: rgba(185, 24, 24, 0.3);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(138, 18, 18);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navBarDiv {
  height: '40px';
  width: '100%';
  display: 'flex';
  justify-content: 'center';
  background-color: '#fff';
  color: #000;
}

.settingsScrollableSection,
.modernImportantJobsScroll {
  scrollbar-width: auto;
  scrollbar-color: var(--nav-background) #ffffff;
}

.settingsScrollableSection::-webkit-scrollbar,
.modernImportantJobsScroll::-webkit-scrollbar {
  width: 20px;
}

.settingsScrollableSection::-webkit-scrollbar-track,
.modernImportantJobsScroll::-webkit-scrollbar-track {
  background: #ffffff;
}

.settingsScrollableSection::-webkit-scrollbar-thumb,
.modernImportantJobsScroll::-webkit-scrollbar-thumb {
  background-color: var(--nav-background);
  border-radius: 999px;
  border: 3px solid #ffffff;
}

.settingsScrollableSection::-webkit-scrollbar-thumb:hover,
.modernImportantJobsScroll::-webkit-scrollbar-thumb:hover {
  background-color: var(--nav-background-disabled);
}


